
@font-face {
	font-family: captain;
	src: url(../fonts/captainamerica.otf);
}

@font-face {
	font-family: paragraph_text;
	src: url(../fonts/marvel.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body 
{
  padding-top: 1rem;
  background-color: #0A2038;
  color: #F6F6F7;
}

h1{
	font-family: captain;
	font-size: 100px;
}

h2{
	text-align: center;

	font-family: captain;
	font-size: 75px;
  tex
	-webkit-stroke-width: 2px; 
  -webkit-stroke-color: #839CA5;
  text-shadow: 4px 4px #BD142B;
}

*::-webkit-input-placeholder {
  color:#000;
}
#feedback-page{
  text-align:center;
}

#form-main{
  width:100%;
  float:center;
  padding-top:0px;
}

#form-div {
  background: #fff;
  padding-left:35px;
  padding-right:35px;
  padding-top:35px;
  padding-bottom:35px;
  width: 450px;
  float: left;
  left: 50%;
  position: absolute;
  margin-top:30px;
  margin-left: -260px;
}

.feedback-input {
  color:#000;
  font-family: paragraph_text, paragraph_text, sans-serif;
  font-weight:300;
  font-size: 14px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fff;
  padding: 13px 13px 13px 13px;
  margin-bottom: 10px;
  width:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 0px solid transparent;
  border-bottom: 1px solid #000;
}

.feedback-input:focus{
  background: #fff;
  box-shadow: 0;
  color: #000;
  outline: none;
  padding: 13px 13px 13px 13px;
}

.focused{
  color:#000;
  border:#30aed6 solid 2px;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
  background-color:white;
}

#button-blue{
  font-family: paragraph_text, Arial, paragraph_text, sans-serif;
  float:left;
  width: 100%;
  border: 0px solid transparent;
  cursor:pointer;
  background-color: #aa1428;
  color:white;
  font-size:18px;
  padding-top:22px;
  padding-bottom:22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:300;
}

#button-blue:hover{
  background-color: #000042;
  color: #fff;
  border: 1px solid #000;
}
  
.submit:hover {
  color: #3498db;
}
  
.ease {
  width: 0px;
  height: 74px;
  background-color: #fbfbfb;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -ms-transition: .3s ease;
  transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
  #form-div{
    left: 3%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
}

#carouselExampleInterval{
  position: relative;
  height: 800px;
  display: flex;
}
.container{
	display: flex;
}

#newsize{
	height: 300px;
	width: 500px;
	right: 50px;
}

.title {
  padding: 3rem 1.5rem;
  text-align: center;
  flex-grow: 1;

  padding-left: 100px;
}

.lead{
	text-align: center;
	font-family: paragraph_text;
	font-size: 30px;
	flex-grow: 1;
}

.homeimg{
	width: 300px;
	flex-grow: 0;
	right: 0px;
  padding-left: 1000px;
}


#transparent{
	width: 500px;
	height: 800px;
  padding-top: 0px

  position: relative;
}

.nav-link{
	font-family: captain;
	color: #F6F6F7;
	font-size: 30px;

	padding-left: 20px;
}

#submission{
	float: bottom;
}


.searchbox {
  position: absolute;
  margin: auto;
  top: 0;
  right: 15px;
  width: 300px;
  height: 100px;
  z-index: 3;
}
.searchbox .search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 80px;
  background: #14406F;
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
.searchbox .search:hover {
  cursor: pointer;
}
.searchbox .search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 12px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all .5s;
}
.searchbox .search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all .5s;
}
.searchbox input {
  font-family: 'paragraph_text', monospace;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background: #14406F;
  color: white;
  text-shadow: 0 0 10px #14406F;
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 #14406F, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}
.searchbox input:hover {
  cursor: pointer;
}
.searchbox input:focus {
  width: 300px;
  opacity: 1;
  cursor: text;
}
.searchbox input:focus ~ .search {
  right: -250px;
  background: #151515;
  z-index: 6;
}
.searchbox input:focus ~ .search::before {
  top: 0;
  left: 0;
  width: 25px;
}
.searchbox input:focus ~ .search::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}
.searchbox input::placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}

#resizing{
	width: 75px;
	right:0px;
}

#sidebar
{
      height: 75vh;
      width: 200px;
      background: #7E1918;

      position: fixed;
      top: 20%;
      left: 0px;
      display: flex;
      z-index: 2;
}


@media screen and (max-width: 767px){ 
	.title{
		right: 0px;
	}


	#sidebar{
		visibility: visible;
	}

	#maincont{
		display: relative
	}

	.row{
		display: fixed;
	}

	.searchbox {
	  position: absolute;
	  margin: none;
	  top: 0;
	  right: 15px;
	  width: 200px;
	  height: 50px;
	  z-index: 3;


	}

	.lead{
		right: 0px;
		font-family: paragraph_text;
		font-size: 30px;
		flex-grow: 1;
	}
}


