html {
	background: #AFA1B4 no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

body{
  margin-right: 30px;
  margin-left: 30px;
}

h1{
  color: black;
  font-family: 'Cutive Mono', monospace;
  flex-grow: 1;
  padding-left: 40%;
  text-align: left;
  font-weight: bold;
  font-size: 60px;
  text-shadow: 2px 2px 3px black;
}

h2{
  padding-top: 20px;
  padding-left: 10px;
  color: black;
  flex-grow: 1;
  font-weight: 1000;
  font-size: 30px;
 font-family: 'Cutive Mono', monospace;
}

p{
  color: black;
  font-family: 'Cutive Mono', monospace;
  flex-grow: 1;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  shape-outside: circle(20%);
  width
}

li{
  color:white;
  font-family: 'Raleway';
  flex-grow: 1;
  font-size: 20px;
}

table{
  border: solid 2px white;
  font-family: text;
  font-size: 25px;
  color: white;
}

tr{
  border: solid 1px white;
}
th{
  border: solid 1px white;
}
a{
  color:white;
}


nav {}

nav ul 
{
  list-style : none;
  padding : 0px;
  margin : 0px;
  display : flex;
  background-color: #C7BDCB;
  box-shadow: 1px 1px 2px 1px grey;
}

nav ul li
{
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
  font-size: 22px;

  min-height : 60px;
  line-height: 60px;
}

nav ul a:link{
  color : #635E65;
  text-decoration : none;
}

nav ul a:visited{
    color:white;
}

nav ul a:hover{
    color:#E8E4E8;
}

nav ul a:active{
    color:black;
}

nav ul a:focus{
    color:purple;
}

header
{
  display: flex;
}

#title
{
  font-size: 34px;
  line-height: 50px;
  min-height : 60px;
  flex-grow: 1;
  color: white;
  font-family: 'Cantarell';

  text-align: right;
  padding-left: 10%;
  font-weight: bold;
}

#title a:hover{
  background-color : #eeebef;
}

#contact
{
  font-size: 16px;
  line-height: 30px;
  min-height : 30px;
  flex-grow: 1;
  text-decoration: none;
  color: #474247;
  font-family: 'Inconsolata', monospace;

  font-weight: bold;
  text-align: right;

  width: 120px;
} 

#info{
  padding-left: 40%;
}

#interest{
  padding-left: 40%;
}

#order{
  padding-left: 40%;
}

#prof{
  display: flex;
}
#about {
 background: #F9F8F9;
 margin-top: 20px;
 box-shadow: 1px 1px 2px 1px grey;
 height: 100vh;
}

.profile-pic {
    max-width: 328px;
    max-height: 328px;
}

.circle {
    border-radius: 1000px !important;
    width: 328px;
    height: 328px;
    border: 8px solid rgba(255, 255, 255, .5);
    position:absolute;
    top: 170px;
    left: 100px;
    box-shadow: 2px 2px 3px grey;
	display: none;
}
img {
    max-width: 100%;
    height: auto;
    flex-grow: 1;
}
.p-image {
  top: 167px;
  right: 30px;
  color: #666666;
  flex-grow: 1;
}
.logo{
max-width: 600px;
max-height: 600px;
}
