html {
  background-image: url("../images/lol.jpeg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

body{

}

h1{
  color: black;
  font-family: 'Cutive Mono', monospace;
  flex-grow: 1;
  padding-left: 40%;
  text-align: left;
  font-weight: bold;
  font-size: 60px;
  text-shadow: 2px 2px 3px black;
}

h2{
  padding-top: 20px;
  padding-left: 10px;
  color: black;
  flex-grow: 1;
  font-weight: 1000;
  font-size: 30px;
 font-family: 'Cutive Mono', monospace;
}

p{
  color: black;
  font-family: 'Cutive Mono', monospace;
  flex-grow: 1;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  shape-outside: circle(20%);
  width
}

li{
  color:white;
  font-family: 'Exo 2', sans-serif;
  flex-grow: 1;
  font-size: 20px;
}

table{
  border: solid 2px white;
  font-family: text;
  font-size: 25px;
  color: white;
}

tr{
  border: solid 1px white;
}
th{
  border: solid 1px white;
}
a{
  color:white;
}


nav {}

nav ul 
{
  list-style : none;
  padding : 0px;
  margin : 0px;
  display : flex;
  background-color: #353535;
  opacity: .65;
}

nav ul li
{
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
  font-size: 22px;

  min-height : 60px;
  line-height: 60px;
}

nav ul a:link{
  color : #635E65;
  text-decoration : none;
}

nav ul a:visited{
    color:white;
}

nav ul a:hover{
    color: grey;
}

nav ul a:active{
    color:black;
}

nav ul a:focus{
    color: grey;
}

header
{
  display: flex;
}

#title
{
  font-size: 40px;
  line-height: 50px;
  min-height : 60px;
  flex-grow: 1;
  color: white;
  font-family: 'Khand', sans-serif;

  text-align: center;
  padding-left: 10%;
  font-weight: bold;
}

#title a:hover{
  background-color : #eeebef;
}

img {
    max-width: 100%;
    height: auto;
    flex-grow: 1;
}
